.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.jumbotron {
    background-color: #9acfea;
    padding-bottom: 10px;
    font-size: 15px;
}

.jumbotron P {
    font-size: 15px;
}
.navbar {
    background-color: #1b6d85;
}